# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jakob\OneDrive\Dokumente\Dokumente Uni\Master\Abroad\Systems Thinking\Dynamic_models\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
